@use 'partials/setup';
@use 'partials/animations' as *;
@use 'partials/variables' as *;
@use 'partials/typography' as *;

// default body styles
body {
    background-color: $light;
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
}

// wrapper styles
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1260px;
    width: 85%;
    margin: 0 auto;

    @media only screen and (max-width: $mobile) {
        width: 100%;
    }
}

// header styles
header {
    background-color: $light;
    z-index: 100;
    height: 150px;
    position: sticky;
    top: 0;
    overflow: hidden;

    nav, h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color1;
        height: 75px;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        &#main-nav {
            top: 75px;
        }

        ul {
            padding: 0;
            width: 95%;
            list-style: none;
            display: flex;
            justify-content: space-between;

            li {
                a {
                    padding: 10px 30px;
                    transition: border-bottom 0.5s;
                    border-bottom: solid $color1 1.5px;
                    &:hover {
                        border-bottom: solid $light 1.5px;
                    }

                    @media only screen and (max-width: $mobile) {
                        padding: 10px;
                        &:hover {
                            border-bottom: solid $color1 1.5px;
                        }
                    }
                }
            }
        }
    }
    
    h1 {
        width: 95%;
        background-color: $light;
        justify-content: left;

        a {
            border-bottom: solid $light 2px;
            transition: border-bottom 0.5s;
            
            &:hover {
                border-bottom: solid $dark 2px;
            }
        }
    }

    @media only screen and (max-width: $mobile) {
        height: 125px;

        nav {
            height: 50px;
        }

        h1 {
            a {
                &:hover {
                    border-bottom: solid $light 2px;
                }
            }
        }
    }
}

// main section
main {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: $light;
    min-height: calc(100vh - 251px);
    padding-bottom: 10px;

    @media only screen and (max-width: $mobile) {
        font-size: 3.5rem;
        min-height: calc(100vh - 226px);
    }

    .enter-site {
        text-decoration: none;
        width: 100%;
        padding-top: 100px;
        padding-bottom: 50px;

        hr {
            transition: height 1s;
        }

        &:hover {
            hr {
                height: 3px;
            }
        }

        @media only screen and (max-width: $mobile) {
            &:hover {
                hr {
                    height: 1px;
                }
            }
        }
    }
}

section {
    background-color: $light;
    padding: 20px 0;
    padding-top: 170px;
    margin-bottom: -170px;

    &#about {
        margin-top: -150px;
    }

    @media only screen and (max-width: $mobile) {
        padding-top: 140px;
        margin-bottom: -140px;

        &#about {
            margin-top: -125px;
        }
    }

    h3 {
        width: 100%;
        
        @media only screen and (max-width: $mobile) {
            width: 90%;
        }
    }

    .banner {
        width: 90%;
        height: 200px;
        margin-top: 20px;

        &.headshot {
            height: auto;
        }
    }

    p {
        width: 90%;

        &.services-bullet {
            margin-left: 30px;
            display: list-item;
            list-style-position: outside;
        }
    }

    h4 {
        width: 90%;
    }
}

#testimonial-slider {
    height: 300px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transition: height 0.5s;

    @media only screen and (max-width: $tablet) {
        width: 90%;
    }

    .slide {
        display: none;
        position: absolute;
        width: 100%;
        max-width: 100%;
        padding-top: 30px;
        padding-left: 45px;
        transition: transform 0.75s ease-in-out;

        @media only screen and (max-width: $tablet) {
            padding-left: 0;      
        }
    }
    .slide-controls {
        display: flex;
        flex-direction: column;
        gap: 10px;

        @media only screen and (max-width: $tablet) {
            gap: 5px;        
        }
    }
    .next-slide {
        top: 0%;
        right: 0%;
    }
    .prev-slide {
        top: 0%;
        left: 0%;
    }
    .next-slide, .prev-slide {
        position: absolute;
        width: 45px;
        height: 45px;
        padding: 10px;
        cursor: pointer;
        // background-color: $color1;
        border-bottom: solid $color1 2px;
        font-size: 1rem;
        transition: background-color 0.5s;
        
        img {
            filter: invert(100%);
            min-height: 25px;
            min-width: 25px;
        }

        &:hover {
            background-color: $color1;
            img {
                filter: unset;
            }

            @media only screen and (max-width: $mobile) {
                background-color: $light;
                img {
                    filter: invert(100%);
                }
            }
        }
    }
    .slide-counter {
        position: absolute;
        top: 0%;
        left: calc(50% - 22.5px);
        height: 45px;
        width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// #headshot {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     max-width: 1260px;
//     width: 85%;
//     padding-top: 40px;
//     margin: 0 auto;
//     margin-bottom: -160px;
//     img {
//         width: 100%;
//         height: auto;
//     }

//     @media only screen and (max-width: $mobile) {
//         width: 90%;
//         padding-top: 25px;
//         margin-bottom: -145px;

//         img {
//             height: 300px;
//         }

//     }
// }

#contact {
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        fieldset {
            background-color: $color1;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            border: none;
            padding: 2% 0;

            label, input, textarea {
                width: 90%;
                min-width: 90%;
            }
            label {
                margin-top: 15px;
            }
            input, textarea {
                border: none;
                background-color: rgba($light, 0.9);
                min-height: 40px;
                padding: 5px 10px;
            }
            textarea {
                min-height: 200px;
            }
            p {
                padding-top: 10px;
                font-size: 0.9rem !important;
                width: 100%;
                text-align: right !important;
            }
        }
    }
}

footer {
    height: 100px;
    .wrapper {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            margin: 0;
        }
    }

    &#main-footer {
        height: 170px;
        margin-top: 170px;

        @media only screen and (max-width: $mobile) {
            height: 150px;
            margin-top: 130px;
        }
    }
}